@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

*{
    box-sizing: border-box;
}

body,html{

    font-family: 'JetBrains Mono', monospace;
    height: 100%;
    color: rgb(90,70,63);
    /* color: rgb(90,70,63); */


}


p{
    text-align: center;
    margin: 20px;
}

.card {
    
    padding: 50px;
    margin:0px 15px 0px 15px;
   height:1000px;
   background-color:whitesmoke;
   border: 5px ;
   border-style: dashed;
   border-color: rgb(251,154,23);
   border-radius: 12px;
  
   font-size:26px"
}
  
  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }


.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url('/img/bgimg-1.webp');
  min-height: 100%;
}

.bgimg-2 {
  background-image: url('/img/bgimg-2.jpeg');
  min-height: 400px;
}

.bgimg-3 {
  background-image: url('/img/bgimg-3.jpeg');
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;

  }
 }

 
